In [1]:
import pandas as pd

In [2]:
nba = pd.read_csv("../files/nba.csv")

## Shared Methods and Attributes

In [12]:
nba.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

In [13]:
nba.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
nba.index

RangeIndex(start=0, stop=458, step=1)

In [15]:
nba.values

array([['Avery Bradley', 'Boston Celtics', 0.0, ..., 180.0, 'Texas',
        7730337.0],
       ['Jae Crowder', 'Boston Celtics', 99.0, ..., 235.0, 'Marquette',
        6796117.0],
       ['John Holland', 'Boston Celtics', 30.0, ..., 205.0,
        'Boston University', nan],
       ...,
       ['Tibor Pleiss', 'Utah Jazz', 21.0, ..., 256.0, nan, 2900000.0],
       ['Jeff Withey', 'Utah Jazz', 24.0, ..., 231.0, 'Kansas', 947276.0],
       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

In [16]:
nba.shape ## returns tuple of rows x columns

(458, 9)

In [18]:
nba.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [19]:
nba.columns ## returns array of column names

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [21]:
nba.axes ## combines index and columns

[RangeIndex(start=0, stop=458, step=1),
 Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
        'College', 'Salary'],
       dtype='object')]

In [22]:
nba.info() ## provides summary of dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
Name        457 non-null object
Team        457 non-null object
Number      457 non-null float64
Position    457 non-null object
Age         457 non-null float64
Height      457 non-null object
Weight      457 non-null float64
College     373 non-null object
Salary      446 non-null float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [23]:
nba.get_dtype_counts() ## returns a series with a count of each datatype

float64    4
object     5
dtype: int64

## Differences Between Shared Methods

In [5]:
rev = pd.read_csv("../files/revenue.csv", index_col="Date")
rev.head(3)

        New York  Los Angeles  Miami
Date
1/1/16       985          122    499
1/2/16       738          788    534
1/3/16        14           20    933

In [12]:
rev.sum() ## sums up each column
rev.sum(axis=1) ## sums up each row

Date
1/1/16     1606
1/2/16     2060
1/3/16      967
1/4/16     2519
1/5/16      438
1/6/16     1935
1/7/16     1234
1/8/16     2313
1/9/16     2623
1/10/16     555
dtype: int64

## Select One Column from a DataFrame

In [16]:
nba.Name ## returns series
nba.Number ## Doesn't work when column name has spaces
nba.Salary

0       7730337.0
1       6796117.0
2             NaN
3       1148640.0
4       5000000.0
5      12000000.0
6       1170960.0
7       2165160.0
8       1824360.0
9       3431040.0
10      2569260.0
11      6912869.0
12      3425510.0
13      1749840.0
14      2616975.0
15      3425510.0
16       845059.0
17      1500000.0
18      1335480.0
19      6300000.0
20      1599840.0
21       134215.0
22      1500000.0
23     19689000.0
24      1140240.0
25       947276.0
26       981348.0
27       947276.0
28       947276.0
29     11235955.0
          ...
428     8042895.0
429      625093.0
430      947276.0
431     6980802.0
432     2894059.0
433     6000000.0
434     5016000.0
435     3075880.0
436     4236287.0
437     2525160.0
438      525093.0
439     1415520.0
440     2854940.0
441     2637720.0
442     4775000.0
443     2658240.0
444     9463484.0
445     3777720.0
446    12000000.0
447     1175880.0
448    15409570.0
449     1348440.0
450     2050000.0
451      981348.0
452     2239800.0
453     2433333.0
454      900000.0
455     2900000.0
456      947276.0
457           NaN
Name: Salary, Length: 458, dtype: float64

In [18]:
nba["College"] ## returns series; can use column names witih spaces
nba["Salary"]

0       7730337.0
1       6796117.0
2             NaN
3       1148640.0
4       5000000.0
5      12000000.0
6       1170960.0
7       2165160.0
8       1824360.0
9       3431040.0
10      2569260.0
11      6912869.0
12      3425510.0
13      1749840.0
14      2616975.0
15      3425510.0
16       845059.0
17      1500000.0
18      1335480.0
19      6300000.0
20      1599840.0
21       134215.0
22      1500000.0
23     19689000.0
24      1140240.0
25       947276.0
26       981348.0
27       947276.0
28       947276.0
29     11235955.0
          ...
428     8042895.0
429      625093.0
430      947276.0
431     6980802.0
432     2894059.0
433     6000000.0
434     5016000.0
435     3075880.0
436     4236287.0
437     2525160.0
438      525093.0
439     1415520.0
440     2854940.0
441     2637720.0
442     4775000.0
443     2658240.0
444     9463484.0
445     3777720.0
446    12000000.0
447     1175880.0
448    15409570.0
449     1348440.0
450     2050000.0
451      981348.0
452     2239800.0
453     2433333.0
454      900000.0
455     2900000.0
456      947276.0
457           NaN
Name: Salary, Length: 458, dtype: float64

## Select Two or More Columns From a DataFrame

In [19]:
nba[["Name", "Team"]]

                        Name                    Team
0              Avery Bradley          Boston Celtics
1                Jae Crowder          Boston Celtics
2               John Holland          Boston Celtics
3                R.J. Hunter          Boston Celtics
4              Jonas Jerebko          Boston Celtics
5               Amir Johnson          Boston Celtics
6              Jordan Mickey          Boston Celtics
7               Kelly Olynyk          Boston Celtics
8               Terry Rozier          Boston Celtics
9               Marcus Smart          Boston Celtics
10           Jared Sullinger          Boston Celtics
11             Isaiah Thomas          Boston Celtics
12               Evan Turner          Boston Celtics
13               James Young          Boston Celtics
14              Tyler Zeller          Boston Celtics
15          Bojan Bogdanovic           Brooklyn Nets
16              Markel Brown           Brooklyn Nets
17           Wayne Ellington           Brooklyn Nets
18   Rondae Hollis-Jefferson           Brooklyn Nets
19              Jarrett Jack           Brooklyn Nets
20            Sergey Karasev           Brooklyn Nets
21           Sean Kilpatrick           Brooklyn Nets
22              Shane Larkin           Brooklyn Nets
23               Brook Lopez           Brooklyn Nets
24          Chris McCullough           Brooklyn Nets
25               Willie Reed           Brooklyn Nets
26           Thomas Robinson           Brooklyn Nets
27                Henry Sims           Brooklyn Nets
28              Donald Sloan           Brooklyn Nets
29            Thaddeus Young           Brooklyn Nets
..                       ...                     ...
428          Al-Farouq Aminu  Portland Trail Blazers
429          Pat Connaughton  Portland Trail Blazers
430             Allen Crabbe  Portland Trail Blazers
431                 Ed Davis  Portland Trail Blazers
432         Maurice Harkless  Portland Trail Blazers
433         Gerald Henderson  Portland Trail Blazers
434              Chris Kaman  Portland Trail Blazers
435           Meyers Leonard  Portland Trail Blazers
436           Damian Lillard  Portland Trail Blazers
437            C.J. McCollum  Portland Trail Blazers
438             Luis Montero  Portland Trail Blazers
439            Mason Plumlee  Portland Trail Blazers
440            Brian Roberts  Portland Trail Blazers
441              Noah Vonleh  Portland Trail Blazers
442            Trevor Booker               Utah Jazz
443               Trey Burke               Utah Jazz
444               Alec Burks               Utah Jazz
445               Dante Exum               Utah Jazz
446           Derrick Favors               Utah Jazz
447              Rudy Gobert               Utah Jazz
448           Gordon Hayward               Utah Jazz
449              Rodney Hood               Utah Jazz
450               Joe Ingles               Utah Jazz
451            Chris Johnson               Utah Jazz
452               Trey Lyles               Utah Jazz
453             Shelvin Mack               Utah Jazz
454                Raul Neto               Utah Jazz
455             Tibor Pleiss               Utah Jazz
456              Jeff Withey               Utah Jazz
457                      NaN                     NaN

[458 rows x 2 columns]

## Add New Columns to a DataFrame

In [26]:
nba["Sport"] = "Basketball" ## scalar value -- every item will have "Basketball" in Sport column

In [27]:
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Sport
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,Basketball
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,Basketball
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,Basketball

In [28]:
nba["League"] = "NBA"

In [29]:
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Sport,League
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,Basketball,NBA
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,Basketball,NBA
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,Basketball,NBA

In [30]:
nba = pd.read_csv("../files/nba.csv")

In [31]:
nba.insert(3, column = "Sport", value = "Basketball")

In [32]:
nba.head(3)

,Name,Team,Number,Sport,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,Basketball,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,Basketball,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,Basketball,SG,27.0,6-5,205.0,Boston University,NaN

## Broadcasting Operations

In [8]:
nba["Age"].add(5)
nba["Age"] + 5 ## adds 5

0      30.0
1      30.0
2      32.0
3      27.0
4      34.0
5      34.0
6      26.0
7      30.0
8      27.0
9      27.0
10     29.0
11     32.0
12     32.0
13     25.0
14     31.0
15     32.0
16     29.0
17     33.0
18     26.0
19     37.0
20     27.0
21     31.0
22     28.0
23     33.0
24     26.0
25     31.0
26     30.0
27     31.0
28     33.0
29     32.0
       ...
428    30.0
429    28.0
430    29.0
431    32.0
432    28.0
433    33.0
434    39.0
435    29.0
436    30.0
437    29.0
438    28.0
439    31.0
440    35.0
441    25.0
442    33.0
443    28.0
444    29.0
445    25.0
446    29.0
447    28.0
448    31.0
449    28.0
450    33.0
451    31.0
452    25.0
453    31.0
454    29.0
455    31.0
456    31.0
457     NaN
Name: Age, Length: 458, dtype: float64

In [9]:
nba["Salary"].sub(5000)
nba["Salary"] - 5000 ## subtracts 5000

0       7725337.0
1       6791117.0
2             NaN
3       1143640.0
4       4995000.0
5      11995000.0
6       1165960.0
7       2160160.0
8       1819360.0
9       3426040.0
10      2564260.0
11      6907869.0
12      3420510.0
13      1744840.0
14      2611975.0
15      3420510.0
16       840059.0
17      1495000.0
18      1330480.0
19      6295000.0
20      1594840.0
21       129215.0
22      1495000.0
23     19684000.0
24      1135240.0
25       942276.0
26       976348.0
27       942276.0
28       942276.0
29     11230955.0
          ...
428     8037895.0
429      620093.0
430      942276.0
431     6975802.0
432     2889059.0
433     5995000.0
434     5011000.0
435     3070880.0
436     4231287.0
437     2520160.0
438      520093.0
439     1410520.0
440     2849940.0
441     2632720.0
442     4770000.0
443     2653240.0
444     9458484.0
445     3772720.0
446    11995000.0
447     1170880.0
448    15404570.0
449     1343440.0
450     2045000.0
451      976348.0
452     2234800.0
453     2428333.0
454      895000.0
455     2895000.0
456      942276.0
457           NaN
Name: Salary, Length: 458, dtype: float64

In [11]:
nba["Weight"].mul(2)
nba["Weight"] * 2 ## multiplies by 2

0      360.0
1      470.0
2      410.0
3      370.0
4      462.0
5      480.0
6      470.0
7      476.0
8      380.0
9      440.0
10     520.0
11     370.0
12     440.0
13     430.0
14     506.0
15     432.0
16     380.0
17     400.0
18     440.0
19     400.0
20     416.0
21     438.0
22     350.0
23     550.0
24     400.0
25     440.0
26     474.0
27     496.0
28     410.0
29     442.0
       ...
428    430.0
429    412.0
430    420.0
431    480.0
432    430.0
433    430.0
434    530.0
435    490.0
436    390.0
437    400.0
438    370.0
439    470.0
440    346.0
441    480.0
442    456.0
443    382.0
444    428.0
445    380.0
446    530.0
447    490.0
448    452.0
449    412.0
450    452.0
451    412.0
452    468.0
453    406.0
454    358.0
455    512.0
456    462.0
457      NaN
Name: Weight, Length: 458, dtype: float64

In [14]:
## save new series as new column within DataFrame 
nba["Weight in Kilograms"] = nba["Weight"] * 0.453592
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Weight in Kilograms
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,81.64656
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,106.59412
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,92.98636

In [18]:
nba["Salary"].div(1000000)
nba["Salary in Millions"] = nba["Salary"] / 1000000 ## divides by 1,000,000
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Weight in Kilograms,Salary in Millions
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,81.64656,7.730337
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,106.59412,6.796117
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,92.98636,NaN

## Drop Rows with Null Values

In [21]:
nba.dropna() ## removes any rows from the DataFrame that have any null values
nba.dropna(how = "all", inplace = True) ## removes any rows from the DataFrame where all data are null

In [22]:
nba.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Weight in Kilograms,Salary in Millions
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,106.140528,2.239800
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,92.079176,2.433333
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,81.192968,0.900000
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,116.119552,2.900000
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,104.779752,0.947276

In [24]:
nba.dropna(axis = 1) ## removes any columns from the DataFrame that have any null values

,Name,Team,Number,Position,Age,Height,Weight,Weight in Kilograms
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,81.646560
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,106.594120
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,92.986360
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,83.914520
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,104.779752
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,108.862080
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,106.594120
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,107.954896
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,86.182480
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,99.790240
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,117.933920
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,83.914520
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,99.790240
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,97.522280
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,114.758776
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,97.975872
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,86.182480
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,90.718400
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,99.790240
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,90.718400
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,94.347136
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,99.336648
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,79.378600
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,124.737800
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,90.718400
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,99.790240
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,107.501304
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,112.490816
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,92.986360
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,100.243832
...,...,...,...,...,...,...,...,...
427,Cliff Alexander,Portland Trail Blazers,34.0,PF,20.0,6-8,240.0,108.862080
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,97.522280
429,Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0,93.439952
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,95.254320
431,Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0,108.862080
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0,97.522280
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0,97.522280
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,120.201880
435,Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0,111.130040
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,88.450440
437,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0,90.718400
438,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0,83.914520
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,106.594120
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,78.471416
441,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0,108.862080
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,103.418976
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,86.636072
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,97.068688
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,86.182480
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,120.201880
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,111.130040
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,102.511792
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,93.439952
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,102.511792
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,93.439952
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,106.140528
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,92.079176
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,81.192968
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,116.119552
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,104.779752

In [25]:
nba.dropna(subset = ["Salary"]) ## Can add list of strings to â€œsubsetâ€ param in order to specify which columns should be checked for null values and removed if any are present

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Weight in Kilograms,Salary in Millions
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,81.646560,7.730337
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,106.594120,6.796117
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,83.914520,1.148640
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,104.779752,5.000000
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0,108.862080,12.000000
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0,106.594120,1.170960
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0,107.954896,2.165160
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0,86.182480,1.824360
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0,99.790240,3.431040
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0,117.933920,2.569260
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0,83.914520,6.912869
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0,99.790240,3.425510
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0,97.522280,1.749840
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0,114.758776,2.616975
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,NaN,3425510.0,97.975872,3.425510
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0,86.182480,0.845059
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0,90.718400,1.500000
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0,99.790240,1.335480
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0,90.718400,6.300000
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,NaN,1599840.0,94.347136,1.599840
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0,99.336648,0.134215
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0,79.378600,1.500000
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0,124.737800,19.689000
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0,90.718400,1.140240
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0,99.790240,0.947276
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0,107.501304,0.981348
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0,112.490816,0.947276
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0,92.986360,0.947276
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0,100.243832,11.235955
30,Arron Afflalo,New York Knicks,4.0,SG,30.0,6-5,210.0,UCLA,8000000.0,95.254320,8.000000
...,...,...,...,...,...,...,...,...,...,...,...
427,Cliff Alexander,Portland Trail Blazers,34.0,PF,20.0,6-8,240.0,Kansas,525093.0,108.862080,0.525093
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.0,97.522280,8.042895
429,Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0,Notre Dame,625093.0,93.439952,0.625093
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,California,947276.0,95.254320,0.947276
431,Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0,North Carolina,6980802.0,108.862080,6.980802
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0,St. John's,2894059.0,97.522280,2.894059
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0,Duke,6000000.0,97.522280,6.000000
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0,120.201880,5.016000
435,Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0,Illinois,3075880.0,111.130040,3.075880
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0,88.450440,4.236287
437,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0,Lehigh,2525160.0,90.718400,2.525160
438,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0,Westchester CC,525093.0,83.914520,0.525093
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,Duke,1415520.0,106.594120,1.415520
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0,78.471416,2.854940
441,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0,Indiana,2637720.0,108.862080,2.637720
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0,103.418976,4.775000
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0,86.636072,2.658240
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0,97.068688,9.463484
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,NaN,3777720.0,86.182480,3.777720
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0,120.201880,12.000000
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,NaN,1175880.0,111.130040,1.175880
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0,102.511792,15.409570
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0,93.439952,1.348440
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0,102.511792,2.050000
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0,93.439952,0.981348
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,106.140528,2.239800
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,92.079176,2.433333
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,81.192968,0.900000
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,116.119552,2.900000
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,104.779752,0.947276